In [1]:
import pandas as pd
import matplotlib.pyplot as pl

import os
import numpy as np
import pylab as P

from datetime import datetime, date, time

import plotly.plotly as py
from plotly.graph_objs import *
%matplotlib inline
os.getcwd()

'C:\\Users\\marcus.ohanlon'

In [18]:
df = pd.read_csv("Premier League 2011-12 Match by Match.csv")
df.head(5)

,Date,Player ID,Player Surname,Player Forename,Team,Team Id,Opposition,Opposition id,Venue,Position Id,...,Pass Left,Pass Right,Unsuccessful Ball Touch,Successful Ball Touch,Take-Ons Overrun,CompId,SeasId,Touches open play final third,Touches open play opp box,Touches open play opp six yards
0,2012-04-28,28566,Abou Diaby,Vassiriki,Arsenal,3,Stoke City,110,Away,4,...,2,4,0,0,0,8,2011,2,1,0
1,2011-11-26,28566,Abou Diaby,Vassiriki,Arsenal,3,Fulham,54,Home,4,...,5,7,0,0,0,8,2011,11,1,0
2,2012-03-03,28566,Abou Diaby,Vassiriki,Arsenal,3,Liverpool,14,Away,4,...,5,3,2,0,0,8,2011,4,0,0
3,2012-04-21,28566,Abou Diaby,Vassiriki,Arsenal,3,Chelsea,8,Home,4,...,6,9,0,0,0,8,2011,8,1,0
4,2012-01-03,20208,Adam,Charlie,Liverpool,14,Manchester City,43,Away,4,...,13,12,0,4,0,8,2011,16,3,0

In [19]:
day_hour_events = df[['Player Surname','Player Forename','Goals']].groupby(['Player Surname','Player Forename']).sum().reset_index()

In [20]:
day_hour_events = day_hour_events.sort('Goals', ascending=False)
day_hour_events.head(5)

    Player Surname Player Forename  Goals
492     van Persie           Robin     30
382         Rooney           Wayne     27
7           AgÃ¯Â¿Â½ero          Sergio     23
2         Adebayor        Emmanuel     17
111        Dempsey           Clint     17